[Unit]
Description=Check AUR updates via auracle

[Service]
Type=simple
ExecStart=/usr/bin/bash -c 'if /usr/bin/auracle outdated; then notify-send -i '/home/vk/.local/share/icons/blue/25-Ampoule.png' Auracle "AUR updates available."; fi'
