[Unit]
Description=Stop music when headphones disconnect

[Service]
Type=simple
ExecStart=/home/vk/apps/bt-headphones.bash

[Install]
WantedBy=graphical-session.target
