[Unit]
Description=Keyboard Light Timeout service

[Service]
EnvironmentFile=/home/vk/.config/kbacklight-timeout/config
Type=simple
ExecStart=/home/vk/apps/kbacklight-timeout.bash
