[Unit]
Description=Monitor service
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/home/vk/apps/monitor.bash

[Install]
WantedBy=graphical-session.target
