[Unit]
Description=Network Manager applet
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/nm-applet

[Install]
WantedBy=graphical-session.target
