[Unit]
Description=Enable numlock
PartOf=graphical-session.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/numlockx on

[Install]
WantedBy=graphical-session.target
