[Unit]
Description=Restore wallpaper
PartOf=graphical-session.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/nitrogen --restore

[Install]
WantedBy=graphical-session.target
