[Unit]
Description=Restore wallpaper

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/nitrogen --restore

[Install]
WantedBy=xorg.target
