[Unit]
Description=Set keyboard layout
PartOf=graphical-session.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/setxkbmap cz qwerty

[Install]
WantedBy=graphical-session.target
