[Unit]
Description=Set keyboard layout

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/setxkbmap cz qwerty

[Install]
WantedBy=default.target
