[Unit]
Description=xbindkeys service
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/xbindkeys -n

[Install]
WantedBy=graphical-session.target
