# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
    name = "Václav Kubernát"
    email = kubervac@fit.cvut.cz
[alias]
    adog = log --all --decorate --oneline --graph
[diff]
    tool = nvimdiff
    ignoreSubmodules = dirty
    algorithm = patience
[difftool]
    prompt = false
[difftool "nvimdiff"]
    cmd = "/bin/nvim -d \"$LOCAL\" \"$REMOTE\""
[multidiff]
    tool = vd
[merge]
    conflictstyle = diff3
