*
!.Xresources
!.completerc
!.config
!.config
!.config/bashrc
!.config/bashrc/**
!.config/dunst
!.config/dunst/dunstrc
!.config/etc
!.config/etc/**
!.config/fontconfig
!.config/fontconfig/fonts.conf
!.config/i3
!.config/i3/**
!.config/i3status
!.config/i3status/**
!.config/kbacklight_timeout
!.config/kbacklight_timeout/config
!.config/kbdpulse.conf
!.config/npm
!.config/npm/npmrc
!.config/nvim
!.config/nvim/**
!.config/pacman
!.config/pacman/makepkg.conf
!.config/rofi
!.config/rofi/config.rasi
!.config/systemd
!.config/systemd/user
!.config/systemd/user
!.config/systemd/user/**
!.config/terminator
!.config/terminator/config
!.config/writing.vim
!.config/xfce4
!.config/xfce4/terminal
!.config/xfce4/terminal
!.config/xfce4/terminal/terminalrc.dark
!.config/xfce4/terminal/terminalrc.light
!.gitconfig
!.gitignore
!.inputrc
!.local
!.local/share
!.local/share/Elevator Music.wav
!.local/share/fonts
!.local/share/fonts/Consolas-Power-Line.ttf
!.local/share/icons
!.local/share/icons/blue
!.local/share/icons/blue/**
!.local/share/mfw.png
!.local/share/nvim
!.local/share/nvim/site
!.local/share/nvim/site/pack
!.local/share/nvim/site/pack/**
!.local/share/thinking.txt
!.local/share/thinking_alt.txt
!.local/share/wall
!.local/share/wall/chrono.png
!.local/share/wall/ether.png
!.local/share/win10lock-template.png
!.local/share/win10lock.png
!.profile
!.screenrc
!.vim/
!.vim/**
!.vim/**/**
!.vimrc
!.xbindkeysrc
!.xinitrc
!.xprofile
!apps
!apps/**
.config/bashrc/ignore.bash
.config/chrome-remote-desktop
.config/chromium
.config/google-chrome
.config/i3/config
.config/i3status/config
.config/nvim/.netrwhist
.config/nvim/tags
.vim/.netrwhist
.vim/.undo
