*
!.config
!apps
!apps/**
!.completerc
!.config
!.config/i3
!.config/i3/config
!.config/i3status
!.config/i3status/config
!.config/xfce4
!.config/xfce4/terminal
!.config/xfce4/terminal
!.config/xfce4/terminal/terminalrc.dark
!.config/xfce4/terminal/terminalrc.light
!.config/terminator
!.config/terminator/config
!.config/kbd_lighttimeout.conf
!.config/kbd_pulse.conf
!.local
!.local/share
!.local/share/mfw.png
!.local/share/thinking.txt
!.local/share/fonts
!.local/share/fonts/Consolas-Power-Line.ttf
!.local/share/icons
!.local/share/icons/blue
!.local/share/icons/blue/**
!.profile
!.screenrc
!.vim/
!.vim/**
!.vim/**/**
.vim/.netrwhist
.vim/.undo
!.vimrc
!.xbindkeysrc
!.xinitrc
!.inputrc
!.gitignore
!.Xresources
.config/google-chrome
.config/chromium
.config/chrome-remote-desktop
