[submodule ".local/share/nvim/site/pack/bundle/opt/tabular"]
	path = .local/share/nvim/site/pack/bundle/opt/tabular
	url = https://github.com/godlygeek/tabular
[submodule ".local/share/nvim/site/pack/bundle/opt/undotree"]
	path = .local/share/nvim/site/pack/bundle/opt/undotree
	url = https://github.com/mbbill/undotree
[submodule ".local/share/nvim/site/pack/bundle/opt/vim-better-whitespace"]
	path = .local/share/nvim/site/pack/bundle/opt/vim-better-whitespace
	url = https://github.com/ntpeters/vim-better-whitespace
[submodule ".local/share/nvim/site/pack/bundle/opt/clever-f.vim"]
	path = .local/share/nvim/site/pack/bundle/opt/clever-f.vim
	url = https://github.com/rhysd/clever-f.vim
[submodule ".local/share/nvim/site/pack/bundle/opt/rust.vim"]
	path = .local/share/nvim/site/pack/bundle/opt/rust.vim
	url = https://github.com/rust-lang/rust.vim
[submodule ".local/share/nvim/site/pack/bundle/opt/yang.vim"]
	path = .local/share/nvim/site/pack/bundle/opt/yang.vim
	url = https://github.com/nathanalderson/yang.vim
[submodule ".local/share/nvim/site/pack/bundle/opt/goyo.vim"]
	path = .local/share/nvim/site/pack/bundle/opt/goyo.vim
	url = https://github.com/junegunn/goyo.vim
[submodule ".local/share/nvim/site/pack/bundle/opt/php.vim"]
	path = .local/share/nvim/site/pack/bundle/opt/php.vim
	url = https://github.com/StanAngeloff/php.vim
[submodule ".local/share/nvim/site/pack/bundle/opt/vimtex"]
	path = .local/share/nvim/site/pack/bundle/opt/vimtex
	url = https://github.com/lervag/vimtex
[submodule ".local/share/nvim/site/pack/bundle/opt/vim-commentary"]
	path = .local/share/nvim/site/pack/bundle/opt/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule ".local/share/nvim/site/pack/bundle/opt/vim-dispatch"]
	path = .local/share/nvim/site/pack/bundle/opt/vim-dispatch
	url = https://github.com/tpope/vim-dispatch
[submodule ".local/share/nvim/site/pack/bundle/opt/typescript-vim"]
	path = .local/share/nvim/site/pack/bundle/opt/typescript-vim
	url = https://github.com/leafgarland/typescript-vim
[submodule ".local/share/nvim/site/pack/bundle/opt/vim-pug"]
	path = .local/share/nvim/site/pack/bundle/opt/vim-pug
	url = https://github.com/digitaltoad/vim-pug.git
[submodule ".local/share/nvim/site/pack/bundle/opt/vim-colon-therapy"]
	path = .local/share/nvim/site/pack/bundle/opt/vim-colon-therapy
	url = https://github.com/syyyr/vim-colon-therapy
	branch = with-fixes
[submodule ".local/share/nvim/site/pack/bundle/opt/indent-blankline.nvim"]
	path = .local/share/nvim/site/pack/bundle/opt/indent-blankline.nvim
	url = https://github.com/lukas-reineke/indent-blankline.nvim.git
[submodule ".local/share/nvim/site/pack/bundle/opt/papercolor-theme"]
	path = .local/share/nvim/site/pack/bundle/opt/papercolor-theme
	url = https://github.com/NLKNguyen/papercolor-theme.git
[submodule ".local/share/nvim/site/pack/bundle/opt/i3config.vim"]
	path = .local/share/nvim/site/pack/bundle/opt/i3config.vim
	url = https://github.com/mboughaba/i3config.vim.git
[submodule ".local/share/nvim/site/pack/bundle/opt/vim-qml"]
	path = .local/share/nvim/site/pack/bundle/opt/vim-qml
	url = https://github.com/peterhoeg/vim-qml.git
[submodule ".local/share/nvim/site/pack/bundle/opt/vim-linux-coding-style"]
	path = .local/share/nvim/site/pack/bundle/opt/vim-linux-coding-style
	url = https://github.com/vivien/vim-linux-coding-style.git
[submodule ".local/share/nvim/site/pack/bundle/opt/vim-cpp-modern"]
	path = .local/share/nvim/site/pack/bundle/opt/vim-cpp-modern
	url = https://github.com/bfrg/vim-cpp-modern.git
[submodule ".local/share/nvim/site/pack/bundle/opt/readline.vim"]
	path = .local/share/nvim/site/pack/bundle/opt/readline.vim
	url = https://github.com/ryvnf/readline.vim.git
[submodule ".local/share/nvim/site/pack/bundle/opt/vim-icalendar"]
	path = .local/share/nvim/site/pack/bundle/opt/vim-icalendar
	url = https://github.com/syyyr/vim-icalendar.git
[submodule ".local/share/nvim/site/pack/bundle/opt/nvim-treesitter"]
	path = .local/share/nvim/site/pack/bundle/opt/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
[submodule ".local/share/nvim/site/pack/bundle/opt/nvim-treesitter-playground"]
	path = .local/share/nvim/site/pack/bundle/opt/nvim-treesitter-playground
	url = https://github.com/nvim-treesitter/playground
[submodule ".local/share/nvim/site/pack/bundle/opt/vim-python-pep8-indent"]
	path = .local/share/nvim/site/pack/bundle/opt/vim-python-pep8-indent
	url = https://github.com/Vimjas/vim-python-pep8-indent.git
[submodule ".local/share/nvim/site/pack/bundle/opt/git-blame.nvim"]
	path = .local/share/nvim/site/pack/bundle/opt/git-blame.nvim
	url = https://github.com/f-person/git-blame.nvim.git
[submodule ".local/share/nvim/site/pack/bundle/opt/nvim-lspconfig"]
	path = .local/share/nvim/site/pack/bundle/opt/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
[submodule ".local/share/nvim/site/pack/bundle/opt/nvim-cmp"]
	path = .local/share/nvim/site/pack/bundle/opt/nvim-cmp
	url = https://github.com/hrsh7th/nvim-cmp.git
[submodule ".local/share/nvim/site/pack/bundle/opt/cmp-nvim-lsp"]
	path = .local/share/nvim/site/pack/bundle/opt/cmp-nvim-lsp
	url = https://github.com/hrsh7th/cmp-nvim-lsp.git
[submodule ".local/share/nvim/site/pack/bundle/opt/clangd_extensions.nvim"]
	path = .local/share/nvim/site/pack/bundle/opt/clangd_extensions.nvim
	url = https://github.com/p00f/clangd_extensions.nvim.git
[submodule ".local/share/nvim/site/pack/bundle/opt/cmp-buffer"]
	path = .local/share/nvim/site/pack/bundle/opt/cmp-buffer
	url = https://github.com/hrsh7th/cmp-buffer.git
[submodule ".local/share/nvim/site/pack/bundle/opt/cmp-nvim-lsp-signature-help"]
	path = .local/share/nvim/site/pack/bundle/opt/cmp-nvim-lsp-signature-help
	url = https://github.com/hrsh7th/cmp-nvim-lsp-signature-help.git
[submodule ".local/share/nvim/site/pack/bundle/opt/vim-vsnip"]
	path = .local/share/nvim/site/pack/bundle/opt/vim-vsnip
	url = https://github.com/hrsh7th/vim-vsnip
[submodule ".local/share/nvim/site/pack/bundle/opt/cmp-vsnip"]
	path = .local/share/nvim/site/pack/bundle/opt/cmp-vsnip
	url = https://github.com/hrsh7th/cmp-vsnip
