*
!.config
!.config/writing.vim
!apps
!apps/**
!.completerc
!.config
!.config/bashrc
!.config/bashrc/**
!.config/nvim
!.config/nvim/**
!.config/i3
!.config/i3/config
!.config/i3status
!.config/i3status/config
!.config/xfce4
!.config/xfce4/terminal
!.config/xfce4/terminal
!.config/xfce4/terminal/terminalrc.dark
!.config/xfce4/terminal/terminalrc.light
!.config/terminator
!.config/terminator/config
!.config/kbd_lighttimeout.conf
!.config/kbd_pulse.conf
!.config/fontconfig
!.config/fontconfig/fonts.conf
!.local
!.local/share
!.local/share/mfw.png
!.local/share/chrono.png
!.local/share/win10lock.png
!.local/share/win10lock-template.png
!.local/share/thinking.txt
!.local/share/thinking_alt.txt
!.local/share/Elevator Music.wav
!.local/share/fonts
!.local/share/fonts/Consolas-Power-Line.ttf
!.local/share/icons
!.local/share/icons/blue
!.local/share/icons/blue/**
!.gitconfig
!.profile
!.screenrc
!.vim/
!.vim/**
!.vim/**/**
.vim/.netrwhist
.config/nvim/.netrwhist
.vim/.undo
!.vimrc
!.xbindkeysrc
!.xinitrc
!.inputrc
!.gitignore
!.Xresources
.config/google-chrome
.config/chromium
.config/chrome-remote-desktop
