[submodule ".local/share/nvim/site/pack/bundle/opt/startscreen.vim"]
	path = .local/share/nvim/site/pack/bundle/opt/startscreen.vim
	url = https://github.com/arp242/startscreen.vim
[submodule ".local/share/nvim/site/pack/bundle/opt/indentLine"]
	path = .local/share/nvim/site/pack/bundle/opt/indentLine
	url = https://github.com/Yggdroot/indentLine
[submodule ".local/share/nvim/site/pack/bundle/opt/tabular"]
	path = .local/share/nvim/site/pack/bundle/opt/tabular
	url = https://github.com/godlygeek/tabular
[submodule ".local/share/nvim/site/pack/bundle/opt/vim-superman"]
	path = .local/share/nvim/site/pack/bundle/opt/vim-superman
	url = https://github.com/syyyr/vim-superman
[submodule ".local/share/nvim/site/pack/bundle/opt/undotree"]
	path = .local/share/nvim/site/pack/bundle/opt/undotree
	url = https://github.com/mbbill/undotree
[submodule ".local/share/nvim/site/pack/bundle/opt/vim-better-whitespace"]
	path = .local/share/nvim/site/pack/bundle/opt/vim-better-whitespace
	url = https://github.com/ntpeters/vim-better-whitespace
[submodule ".local/share/nvim/site/pack/bundle/opt/clever-f.vim"]
	path = .local/share/nvim/site/pack/bundle/opt/clever-f.vim
	url = https://github.com/rhysd/clever-f.vim
[submodule ".local/share/nvim/site/pack/bundle/opt/rust.vim"]
	path = .local/share/nvim/site/pack/bundle/opt/rust.vim
	url = https://github.com/rust-lang/rust.vim
[submodule ".local/share/nvim/site/pack/bundle/opt/HJKL"]
	path = .local/share/nvim/site/pack/bundle/opt/HJKL
	url = https://github.com/vim-scripts/HJKL
[submodule ".local/share/nvim/site/pack/bundle/opt/ale"]
	path = .local/share/nvim/site/pack/bundle/opt/ale
	url = https://github.com/w0rp/ale
[submodule ".local/share/nvim/site/pack/bundle/opt/yang.vim"]
	path = .local/share/nvim/site/pack/bundle/opt/yang.vim
	url = https://github.com/nathanalderson/yang.vim
[submodule ".local/share/nvim/site/pack/bundle/opt/goyo.vim"]
	path = .local/share/nvim/site/pack/bundle/opt/goyo.vim
	url = https://github.com/junegunn/goyo.vim
[submodule ".local/share/nvim/site/pack/bundle/opt/php.vim"]
	path = .local/share/nvim/site/pack/bundle/opt/php.vim
	url = https://github.com/StanAngeloff/php.vim
[submodule ".local/share/nvim/site/pack/bundle/opt/vimtex"]
	path = .local/share/nvim/site/pack/bundle/opt/vimtex
	url = https://github.com/lervag/vimtex
[submodule ".local/share/nvim/site/pack/bundle/opt/vim-commentary"]
	path = .local/share/nvim/site/pack/bundle/opt/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule ".local/share/nvim/site/pack/bundle/opt/coc.nvim"]
	path = .local/share/nvim/site/pack/bundle/opt/coc.nvim
	url = https://github.com/neoclide/coc.nvim
[submodule ".local/share/nvim/site/pack/bundle/opt/vim-dispatch"]
	path = .local/share/nvim/site/pack/bundle/opt/vim-dispatch
	url = https://github.com/tpope/vim-dispatch
[submodule ".local/share/nvim/site/pack/bundle/opt/nvim-gdb"]
	path = .local/share/nvim/site/pack/bundle/opt/nvim-gdb
	url = https://github.com/sakhnik/nvim-gdb
[submodule ".local/share/nvim/site/pack/bundle/opt/typescript-vim"]
	path = .local/share/nvim/site/pack/bundle/opt/typescript-vim
	url = https://github.com/leafgarland/typescript-vim
[submodule ".local/share/nvim/site/pack/bundle/opt/vim-cmake-completion"]
	path = .local/share/nvim/site/pack/bundle/opt/vim-cmake-completion
	url = https://github.com/syyyr/vim-cmake-completion
[submodule ".local/share/nvim/site/pack/bundle/opt/firenvim"]
	path = .local/share/nvim/site/pack/bundle/opt/firenvim
	url = https://github.com/glacambre/firenvim
[submodule ".local/share/nvim/site/pack/bundle/opt/vim-pug"]
	path = .local/share/nvim/site/pack/bundle/opt/vim-pug
	url = https://github.com/digitaltoad/vim-pug.git
[submodule ".local/share/nvim/site/pack/bundle/opt/vim-colon-therapy"]
	path = .local/share/nvim/site/pack/bundle/opt/vim-colon-therapy
	url = https://github.com/scrooloose/vim-colon-therapy.git
