$include /etc/inputrc
"\es":"\C-asudo \C-e"
"\e[18~":""

# Color the common prefix
set colored-completion-prefix On
# Append char to indicate type
set visible-stats On
# Color files by types
set colored-stats On
