# FIXME: consider removing this file
[Unit]
Description=User suspend actions
Before=sleep.target

[Service]
User=vk
Type=simple
# Environment=DISPLAY=:0
ExecStartPre= -touch /tmp/suspend_time
ExecStart=/home/vk/apps/lock.bash no-off
ExecStartPost= -/usr/bin/sleep 1

[Install]
WantedBy=sleep.target
